{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja do Jeff</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css"
    />
  </head>
  <body>
    <div class="container">
      <header class="text-center my-4">
        <h1>Loja do Jeff</h1>
        <img
          src="{% static 'imagens/logo.png' %}"
          alt="logo"
          class="logo img-fluid"
        />
      </header>

      <main>
        <section class="course-info text-center my-4">
          <h2>{{ curso }}</h2>
          <h3>{{ outra }}</h3>
        </section>

        <section class="product-list">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Estoque</th>
              </tr>
            </thead>
            <tbody>
              {% for produto in produtos %}
              <tr>
                <td>
                  <a href="{% url 'produto' produto.id %}"
                    >{{ produto.nome }}</a
                  >
                </td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      </main>

      <footer class="text-center my-4">
        <button class="btn btn-primary" onclick="teste();">Clique-me</button>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
